<div class="card" style="margin-bottom: 30px">
  <div class="card-block">
    <h4 class="card-title"><%= article.title %></h4>
    <p class="card-text"><%= @markdown.render(article.body).html_safe %></p>
  </div>
  <div class="card-footer">
    <%= link_to 'Show', article, class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_article_url(article), class: 'btn btn-warning' %> 
    <%= link_to 'Delete', article, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}, method: :delete %>
  </div>
</div>